<div class="row jumbotron m-3 bg-dark align-content-center">
    <div class="row border border-info rounded">
        <app-search-vehicle></app-search-vehicle>

        <div class="col-12 col-lg-10 p-3">
            <table class="table  table-responsive-sm table-hover table-dark ">
                <thead>
                    <tr>
                        <th scope="col">Matricula</th>
                        <th scope="col">Marca</th>
                        <th scope="col">Modelo</th>
                        <th scope="col">Motor</th>
                        <th scope="col">Chasis</th>
                        <th scope="col">Año</th>
                        <th scope="col">Kms</th>
                        <th scope="col">Color</th>
                        <th scope="col">Precio</th>
                        <th scope="col">Detalles</th>

                    </tr>
                </thead>
                <tbody class="tbody">
                    <tr *ngFor="let vehicle of vehicles">
                        <th class="tabla">{{vehicle.numberPlate}}</th>
                        <td class="tabla">{{vehicle.brand}}</td>
                        <td class="tabla">{{vehicle.model}}</td>
                        <td class="tabla">{{vehicle.engine}}</td>
                        <td class="tabla">{{vehicle.chasis}}</td>
                        <td class="tabla">{{vehicle.years}}</td>
                        <td class="tabla">{{vehicle.kms}}</td>
                        <td class="tabla">{{vehicle.color}}</td>
                        <td class="tabla">{{vehicle.price}}</td>

                </tbody>
            </table>
        </div>
    </div>


</div>