<div class="container jumbotron mt-3 pt-4 bg-dark input-group-sm ">
    <form (ngSubmit)="onSubmit()" novalidate>
        <div class="row align-content-center ">

            <div class="col-12 col-lg-8">
                <div class="col-12 p-2">
                    <p class="display-4 mb-2">Documentacion Tecnica</p>
                    <div class="col-12 border p-2 border-info rounded">

                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label>Matricula</label>
                                <input type="" [(ngModel)]="vehicle.number_plate" name="number_plate" class="form-control" id="number_Plate" value="3333ddd">
                            </div>
                            <div class="form-group col-lg-4">
                                <label>Bastidor</label>
                                <input type="" [(ngModel)]="vehicle.vin" name="vin" class="form-control" id="vin" value="vf55">
                            </div>

                            <div class="form-group col-lg-2">
                                <label>Marca</label>
                                <input type="" [(ngModel)]="vehicle.brand" name="brand" class="form-control" id="brand" value="44">
                            </div>

                            <div class="form-group col-lg-2">
                                <label>Modelo</label>
                                <input type="" [(ngModel)]="vehicle.model" name="model" class="form-control" id="model" value="gh">
                            </div>
                            <div class="form-group col-lg-2">
                                <label>Año</label>
                                <input type="" name="year" class="form-control" id="year" value="1960">
                            </div>
                            <div class="form-group col-lg-2">
                                <label>Motor</label>
                                <input type="" [(ngModel)]="vehicle.engine" name="engine" class="form-control" id="engine" value="1.6">
                            </div>
                            <div class="form-group col-lg-3">
                                <label for="inputState">Combustible</label>
                                <select id="inputState" class="form-control">
                      <option selected>Diesel</option>
                      <option>Gasolina</option>
                      <option>Hybrid</option>
                      <option>Electrico</option>
                    </select>
                            </div>
                            <div class="form-group col-lg-2">
                                <label>Kms</label>
                                <input type="" name="kms" class="form-control" id="kms" value="18000">
                            </div>
                            <div class="form-group col-lg-2">
                                <label>Color</label>
                                <input type="" name="color" class="form-control" id="color" value="rojo">
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-12 p-1">


                    <p class="display-4 mb-2">Datos Ventas</p>
                    <div class="col-12  p-2 bg-info rounded">

                        <div class="row">
                            <div class="form-group col-lg-3">
                                <label>Precio</label>
                                <input type="" [(ngModel)]="vehicle.price" class="form-control" id="price" value="">
                            </div>
                            <div class="form-group col-lg-6">
                                <label>Extras</label>
                                <input type="" name="" rows="3" class="form-control" id="extras" value="">
                            </div>

                        </div>



                    </div>

                </div>

            </div>

            <div class="col-12 col-lg-4 p-2">

                <div class="col-12">

                    <p class="display-4 mb-2">Datos Cliente</p>
                    <div class="col-12 border p-2 border-info rounded">

                        <div class="row">
                            <div class="form-group col-12 ">
                                <label>Dni</label>
                                <input type="" name="" class="form-control" id="plate_number" value="">
                            </div>
                            <div class="form-group col-12">
                                <label>Nombre</label>
                                <input type="" name="" class="form-control" id="plate_number" value="">
                            </div>
                            <div class="form-group col-12">
                                <label>Email</label>
                                <input type="" name="" class="form-control " id="plate_number" value="">
                            </div>
                            <div class="form-group col-12">
                                <label>Telefono</label>
                                <input type="" name="" class="form-control" id="plate_number" value="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12">
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="text-dark" type="submit" id="button">Añadir</button>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="text-dark" type="submit" id="button">Editar</button>
            </div>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button class="text-dark" type="submit" id="button">Borrar</button>
            </div>
        </div>
    </form>
</div>