.footer {
    /*background-image: url("assets/img/headerFoooter.jpg");*/
    background-color: rgb(0, 0, 50);
    background-position: center center;
    background-size: cover;
}

p {
    font-size: 12px;
}