<div class="row text-center align-items-center footer">
    <div class="col-12 col-md-6">
        <a href="https://www.facebook.com "> <img src="assets/img/face.png " width="40 " class="img-fluid m-3 " alt=" "></a>
        <a href="https://twitter.com/?lang=es"> <img src="assets/img/twi.png " width="40 " class="img-fluid m-3 " alt=" "></a>
        <a href="https://www.whatsapp.com/"> <img src="assets/img/what.png" width="40 " class="img-fluid m-3 " alt=" "></a>

    </div>
    <div class="col-12 col-md-6">
        <p class="pt-3">Autos Sanchez Martinez S.L.<br> Calle el Río, 1, 41120 Gelves, Sevilla <br> Telefono: 664 40 22 41</p>
    </div>
</div>