<div class="row jumbotron m-3 pt-3  bg-dark align-content-center">
    <p class="title">
        Buscador</p>
    <div class="row border border-info rounded">
        <div class="col-12 pt-3">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="formSearchVehicle">

                        <div class="row">
                            <div class="col-6 col-md-4 form-group">
                                <label>Matricula o Bastidor</label>
                                <app-auto-vehicle [parentFormGroup]="formSearchVehicle" [controlName]='SearchVehicle'></app-auto-vehicle>
                            </div>

                            <div class="col-6 col-md-2 form-group">
                                <label>Marca</label>
                                <input type="text" placeholder="Insertar Marca" formControlName="inputBrand" name="brand" class="form-control">
                            </div>
                            <div class="col-6 col-md-2 form-group">
                                <label>Modelo</label>
                                <input type="" placeholder="Insertar Bastidor" formControlName="inputModel" name="model" class="form-control">
                            </div>
                            <div class="col-12 col-md-4 form-group">
                                <label>Cliente</label>
                                <app-auto-user [parentFormGroup]="formSearchVehicle" [controlName]='SearchClient'></app-auto-user>
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p-checkbox class="p-1" [(ngModel)]="chkActiveStatus" formControlName="chkActiveStatus" label="Registros Activos" [binary]="true"></p-checkbox>
                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12 col-sm-auto">
                                <div class="form-row">
                                    <div class="col">
                                        <button pButton icon="fas fa-search" type="button" label="Buscar" (click)="searchVehicle()" (change)="onChangeChkActiveStatus()" class="p-button-outlined m-1"></button>
                                        <button pButton icon="fas fa-broom" type="button" label="Limpiar" (click)="cleanAllControls()" class="p-button-outlined m-1"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-row">
                                    <div class="col-12 text-sm-right">
                                        <button pButton icon="fas fa-plus" type="button" label="Nuevo" routerLink="/newVehicle" class="p-button-outlined m-1"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="row">
                <div class="col-12 p-3">
                    <p-table [value]="vehicleList" styleClass="p-datatable-responsive-demo" [columns]="columnsTableResult" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {last}/{totalRecords} Vehiculos" [rowsPerPageOptions]="[10,25,50]">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <ng-container [ngSwitch]="col.field">
                                        <th pSortableColumn={{col.field}}>{{col.header}}
                                            <p-sortIcon field={{col.field}}></p-sortIcon>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-vehicle>
                            <tr>
                                <td pTooltip="{{vehicle.numberPlate}}">{{vehicle.numberPlate}}</td>
                                <td><img src="{{vehicle.photoHead}}" [alt]="vehicle.name" width="100" class="p-shadow-4" /></td>
                                <td pTooltip="{{vehicle.brand}}">{{vehicle.brand}}</td>
                                <td pTooltip="{{vehicle.model}}">{{vehicle.model}}</td>
                                <td pTooltip="{{vehicle.color}}">{{vehicle.color}}</td>
                                <td pTooltip="{{vehicle.userId.firstName}}">{{vehicle.userId.firstName}} {{vehicle.userId.lastName}}</td>
                                <td pTooltip="{{vehicle.price}}">{{vehicle.price}}</td>
                                <td>
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined m-1" *ngIf="vehicle.codeStatus == true" (click)="onClickEditVehicle(vehicle.id)"></button>
                                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-outlined m-1" *ngIf="vehicle.codeStatus == true" (click)="showModalConfirmDelete(vehicle.id)"></button>
                                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-outlined m-1" *ngIf="vehicle.codeStatus == false"></button>
                                    <button pButton pRipple icon="fas fa-trash-restore" class="p-button-rounded p-button-outlined m-1" *ngIf="vehicle.codeStatus == false" (click)="showModalConfirmReactivate(vehicle.id)"></button>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>


        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <p-progressSpinner class="spinner" *ngIf="loading"></p-progressSpinner>
        <p-toast [hideTransitionOptions]="'0ms'" position="top-right"></p-toast>