<div class="jumbotron bg-dark mb-5 m-3">
    <div class="row">
        <div class="col-12 ">

            <img src="assets/img/listado/07.jpg" style="float:left;" width="300" class="img-fluid p-2" alt="">
            <p class=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde asperiores magnam, velit numquam fuga libero facilis officiis provident debitis vero totam a excepturi praesentium possimus minus fugiat autem, sequi assumenda aliquid, ipsum consectetur
                error. Cumque iusto accusamus blanditiis provident ex suscipit, delectus quo voluptatibus, dicta vitae aliquid, laboriosam deserunt quod.</p>
            <img src="assets/img/listado/01.jpg" style="float: right;" width="300" class="img-fluid p-2" alt="">
            <p class=""> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde asperiores magnam, velit numquam fuga libero facilis officiis provident debitis vero totam a excepturi praesentium possimus minus fugiat autem, sequi assumenda aliquid, ipsum consectetur
                error. Cumque iusto accusamus blanditiis provident ex suscipit, delectus quo voluptatibus, dicta vitae aliquid, laboriosam deserunt quod.</p>

        </div>
    </div>