<div class="jumbotron bg-dark mb-5 m-3">
    <div class="row">
        <div class="col-12 ">

            <img src="assets/img/listado/07.jpg" style="float:left;" width="360" class="img-fluid p-3" alt="">
            <p class=""> La historia del automóvil, en un sentido estricto, comienza en el siglo XIX. La palabra deriva del griego αὐτός autós, "a sí mismo", y del latín mobilis, "que se mueve", sobre todo para distinguir entre los vehículos a motor y los de tracción
                animal. De estos vehículos autopropulsados se conocieron muchos tipos diferentes a través de las épocas.Una forma de clasificarlos sería el método empleado para la propulsión; desde este punto de vista, los más significativos fueron los
                impulsados por vapor del siglo XVIII. Aunque ya en el siglo XVII el jesuita Ferdinand Verbiest, residente en China, describió un vehículo impulsado a vapor, de pequeño tamaño. Posteriormente, se podrían clasificar en función de las tendencias
                en cuanto a forma exterior, tamaño, y aplicaciones.</p>
            <img src="assets/img/listado/01.jpg" style="float: right;" width="360" class="img-fluid p-3" alt="">
            <p class="">En 1860 Etienne Lenoir patentó el primer vehículo por motor de combustión interna con gasolina. Se puede dividir la evolución en una serie de etapas marcadas por los principales hitos tecnológicos.Uno de los inventos más característicos del
                siglo XX ha sido sin duda el automóvil. Los primeros prototipos se crearon a finales del siglo XIX pero no fue hasta la primera década del XX donde el público empezó a mirarlos como algo útil. El automóvil recorre las tres fases de los
                grandes medios de propulsión: vapor, electricidad y gasolina..... y mas de 200 años despues, NOSOTROS continuamos la Historia.</p>

        </div>
    </div>