<div class="jumbotron bg-dark m-3">
    <div class="row p-2">
        <form [formGroup]="formNewUser">
            <p class="display-4">
                Datos Cliente</p>
            <div class="col-12 p-2 border border-info rounded ">
                <div class="row">
                    <div class="form-group col-12">
                        <label>Dni <b class="text-danger">*</b></label>
                        <input maxlength="9" type="text" formControlName="inputDni" class="form-control ">
                    </div>
                    <div class="form-group col-12">
                        <label>Nombre</label>
                        <input maxlength="50" type="text" formControlName="inputFirstName" class="form-control ">
                    </div>
                    <div class="form-group col-12">
                        <label>Apellidos</label>
                        <input maxlength="50" type="text" formControlName="inputLastName" class="form-control ">
                    </div>
                    <div class="form-group col-12 col-md-4">
                        <label>Direccion</label>
                        <input maxlength="100" type="text" formControlName="inputAddress" class="form-control ">
                    </div>
                    <div class="form-group px-0 col-12 col-md-4 ">
                        <div class="col-12">
                            <label>Ciudad <b class="text-danger">*</b></label>
                        </div>
                        <div class="col-12">
                            <p-dropdown styleClass="p-dropdown-width" [options]="provincesList" [(ngModel)]="selectedActiveProvince" autoWidth="false" placeholder="Seleciona Ciudad" [showClear]="true" formControlName="selectProvince" optionLabel="province" (onChange)="onChangeProvinces(this)"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group px-0 col-12 col-md-4">
                        <div class="col-12">
                            <label>Municipio <b class="text-danger">*</b></label>
                        </div>
                        <div class="col-12">
                            <p-dropdown styleClass="p-dropdown-width" [options]="municipalityList" [(ngModel)]="selectedActiveMunicipality" placeholder="Seleciona Municipio" [showClear]="true" formControlName="selectMunicipality" optionLabel="municipio"></p-dropdown>
                        </div>
                    </div>
                    <div class="form-group col-8 ">
                        <label>Email <b class="text-danger">*</b></label>
                        <input maxlength="100" type="text" formControlName="inputEmail" class="form-control ">
                    </div>
                    <div class="form-group col-4 ">
                        <label>Telefono</label>
                        <input maxlength="10" type="text" formControlName="inputPhone" class="form-control ">
                    </div>
                    <div class="form-group col-6 ">
                        <label>Username <b class="text-danger">*</b></label>
                        <input maxlength="50" type="text" formControlName="inputUserName" class="form-control ">
                    </div>
                    <div class="form-group col-6">
                        <label>Password <b class="text-danger">*</b></label>
                        <input maxlength="50" type="password" formControlName="inputPassWord" class="form-control ">
                    </div>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 col-sm-auto">
                    <div class="form-row">
                        <div class="col">
                            <button [disabled]="formNewUser.invalid" pButton icon="fas fa-save" type="button" label="Guardar" (click)="create()" class="p-button m-1"></button>
                            <button pButton icon="fas fa-broom" type="button" label="Limpiar" (click)="cleanAllControls()" class="p-button-outlined m-1"></button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="form-row">
                        <div class="col-12 text-sm-right">
                            <button pButton icon="fas fa-backward" type="button" label="Cancelar" routerLink="/user" class="p-button-outlined m-1"></button>
                        </div>
                    </div>
                </div>
            </div>