<div class="row px-5 ">
    <div class="col-12">
        <p-galleria [(value)]="vehiclesDto" [circular]="true" [autoPlay]="true" [transitionInterval]="6000" [showThumbnails]="false" [showItemNavigators]="true" [containerStyle]="{'max-width': '100%'}" [numVisible]="1">
            <ng-template pTemplate="item" let-item>
                <img [src]="item.photoHead" style="width: 100%;" class="border rounded" />
            </ng-template>
            <ng-template pTemplate="caption" let-item>
                <h2 class="text-right">{{item.brand}} {{item.model}}</h2>
                <hr class="line">
                <h3 class="text-left">{{item.price | currency : 'EUR' : 'symbol' : '1.0-0' }}</h3>
            </ng-template>
        </p-galleria>

    </div>

    <div class="col-12">
        <p-carousel [value]="vehiclesDto" [numVisible]="8" [numScroll]="1" [circular]="true">

            <ng-template let-product pTemplate="item">
                <div class="product-item p-1 ">
                    <div class="product-item-content">
                        <div class="p-mb-3">
                            <img [src]="product.photoHead" [alt]="product.name" class="product-image border rounded" />
                        </div>
                    </div>
                </div>
            </ng-template>

        </p-carousel>
    </div>
</div>