<div class="col-12 ">
    <form [formGroup]="formSearchVehicle">
        <p class="display-4 m-2 ">Buscador</p>
        <div class="col-12">
            <div class="row">
                <div class="form-group ">
                    <label>Matricula</label>
                    <input type="text" formControlName="inputNumberPlate" class="form-control">
                </div>
                <div class="form-group">
                    <label>Bastidor</label>
                    <input type="text" formControlName="inputVin" class="form-control">
                </div>
                <div class="form-group">
                    <label>DNI</label>
                    <input type="text" class="form-control">
                </div>
            </div>
        </div>
    </form>

    <div class="row justify-content-center">
        <div class="btn-group " role="group" aria-label="Basic example">
            <button class="text-dark" (click)="searchNumber_Plate()" type="submit" id="button">Buscar</button>
        </div>
    </div>

</div>
<!--
<p-table [value]="vehicleList" [columns]="columnsTableResult">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngFor="let col of columns">
                <ng-container [ngSwitch]="col.field">
                    <th *ngSwitchCase="'numberPlate'" class="text-center">
                        {{col.header}}

                    </th>
                    <th *ngSwitchCase="'brand'" class="text-center">
                        {{col.header}}

                    </th>
                    <th *ngSwitchCase="'model'" class="text-center">
                        {{col.header}}

                    </th>
                    <th *ngSwitchCase="'engine'" class="text-center">
                        {{col.header}}

                    </th>
                    <th *ngSwitchCase="'chasis'" class="text-center">
                        {{col.header}}

                    </th>
                    <th *ngSwitchCase="'years'" class="text-center">
                        {{col.header}}

                    </th>
                    <th *ngSwitchCase="'kms'" class="text-center">
                        {{col.header}}

                    </th>
                    <th *ngSwitchCase="'color'" class="text-center">
                        {{col.header}}

                    </th>
                    <th *ngSwitchCase="'price'" class="text-center">
                        {{col.header}}

                    </th>
                    <th *ngSwitchCase="'Actions'" class="text-center">
                        {{col.header}}

                    </th>
                </ng-container>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-vehicleList>
        <tr>
            <td class="text-center underlineTooltip" pTooltip="vehicle.numberPlate">{{vehicle.numberPlate}}</td>
            <td class="text-center underlineTooltip" pTooltip="vehicle.brand">{{vehicle.brand}}</td>
            <td class="text-center underlineTooltip" pTooltip="vehicle.model">{{vehicle.model}}</td>
            <td class="text-center underlineTooltip" pTooltip="vehicle.engine">{{vehicle.engine}}</td>
            <td class="text-center underlineTooltip" pTooltip="vehicle.chasis">{{vehicle.chasis}}</td>
            <td class="text-center underlineTooltip" pTooltip="vehicle.years">{{vehicle.years}}</td>
            <td class="text-center underlineTooltip" pTooltip="vehicle.kms">{{vehicle.kms}}</td>
            <td class="text-center underlineTooltip" pTooltip="vehicle.color">{{vehicle.color}}</td>
            <td class="text-center underlineTooltip" pTooltip="vehicle.price">{{vehicle.price}}</td>


            BOTONES DE ACCION
            <td class="act eve-table__cell-icon text-center">
                <button *ngIf="company.codeStatus == true" (click)="onClickEditCompany(company.id)" class="icon-action" pTooltip="" tooltipPosition="bottom">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
                <button *ngIf="company.codeStatus == true" class="icon-action" (click)="deleteCompany(company)" pTooltip="" tooltipPosition="bottom">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
                <button *ngIf="company.codeStatus == false" class="icon-action" pTooltip="" tooltipPosition="bottom">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
                <button class="icon-action" *ngIf="!company.codeStatus" (click)="activateCompany(company)" pTooltip="" tooltipPosition="bottom">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
      </button>
</td>
</tr>
</ng-template>
</p-table>-->