<div class="row sticky-top">
    <nav class="col-12 navbar  navbar-expand-lg navbar-dark bg-dark">
        <a class="d-md-none navbar-brand" routerLink="/historia">
            <img src="assets/img/header.png" width="200" class="img-fluid pl-3">

        </a>
        <button class="navbar-toggler collapsed" type="button" (click)="toggleState()">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse" [ngClass]="{ 'collapse': isCollapse }">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="index.html">Inicio<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="historia">Historia</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="gallery">Listado Vehiculos</a>
                </li>
                <li class="nav-item" *ngIf="isLogged">
                    <a class="nav-link" routerLink="cliente">Clientes</a>
                </li>
                <li class="nav-item" *ngIf="isLogged">
                    <a class="nav-link" routerLink="vehicle">Vehiculos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contacto">Contacto</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="nav-item" *ngIf="!isLogged">
                    <a class="nav-link" routerLink="/login">
                        <i class="pi pi-users p-1"></i>Login
                    </a>
                </li>
                <li class="nav-item" *ngIf="!isLogged">
                    <a class="nav-link" routerLink="/registro">
                        <i class="pi pi-user-plus p-1"></i>Registro</a>
                </li>
                <li class="nav-item" *ngIf="isLogged">
                    <a class="nav-link" (click)="logout()">
                        <i class="pi pi-users p-1"></i>LogOut</a>
                </li>

            </ul>
        </div>
    </nav>
</div>