<div class="row jumbotron m-3 pt-3 bg-dark align-content-center">
    <p class="title">
        Buscador</p>
    <div class="row border border-info rounded">
        <div class="col-12 pt-3">
            <div class="row">
                <div class="col-12">
                    <form [formGroup]="formSearchUser">

                        <div class="row">
                            <div class="col-12 col-md-5 form-group">
                                <label>DNI</label>
                                <app-auto-user [parentFormGroup]="formSearchUser" [controlName]='SearchClient'></app-auto-user>
                            </div>

                            <div class="col-12 col-md-3 form-group">
                                <label>Matricula - Bastidor</label>
                                <app-auto-vehicle [parentFormGroup]="formSearchUser" [controlName]='SearchVehicle'></app-auto-vehicle>
                            </div>
                            <div class="col-12 col-md-2 px-0 form-group">
                                <div class="col-12">
                                    <label>Ciudad</label>
                                </div>
                                <div class="col-12">
                                    <p-dropdown styleClass="p-dropdown-width" [options]="provincesList" [(ngModel)]="selectedActiveProvince" autoWidth="false" placeholder="Seleciona Ciudad" [showClear]="true" formControlName="selectProvince" optionLabel="province" (onChange)="onChangeProvinces(this)"></p-dropdown>
                                </div>
                            </div>
                            <div class="col-12 col-md-2 px-0 form-group">
                                <div class="col-12">
                                    <label>Municipio</label>
                                </div>
                                <div class="col-12">
                                    <p-dropdown styleClass="p-dropdown-width" [options]="municipalityList" [(ngModel)]="selectedActiveMunicipality" placeholder="Seleciona Municipio" [showClear]="true" formControlName="selectMunicipality" optionLabel="municipio"></p-dropdown>
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-12">
                                <p-checkbox class="p-1" [(ngModel)]="chkActiveStatus" formControlName="chkActiveStatus" label="Registros Activos" [binary]="true"></p-checkbox>

                            </div>
                        </div>

                        <div class="row mt-4">
                            <div class="col-12 col-sm-auto">
                                <div class="form-row">
                                    <div class="col">
                                        <button pButton icon="fas fa-search" type="button" label="Buscar" (click)="searchUser()" class="p-button-outlined m-1"></button>
                                        <button pButton icon="fas fa-broom" type="button" label="Limpiar" (click)="cleanAllControls()" class="p-button-outlined m-1"></button>
                                    </div>
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-row">
                                    <div class="col-12 text-sm-right">
                                        <button pButton icon="fas fa-plus" type="button" label="Nuevo" routerLink="/newUser" class="p-button-outlined m-1"></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
            </div>

            <div class="row">
                <div class="col-12 p-3">
                    <p-table [value]="userList" styleClass="p-datatable-responsive-demo" [columns]="columnsTableResult" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {last}/{totalRecords} Clientes" [rowsPerPageOptions]="[5,10,20]">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <ng-container [ngSwitch]="col.field">
                                        <th pSortableColumn={{col.field}}>{{col.header}}
                                            <p-sortIcon field={{col.field}}></p-sortIcon>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-user>
                            <tr>
                                <td pTooltip="{{user.dni}}">{{user.dni}}</td>
                                <td pTooltip="{{user.firstName}} {{user.lastName}}">{{user.firstName}} {{user.lastName}}</td>
                                <td pTooltip="{{user.address}}">{{user.address}}</td>
                                <td pTooltip="{{user.phone}}">{{user.phone}}</td>
                                <td pTooltip="{{user.email}}">{{user.email}}</td>
                                <td>
                                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-outlined m-1" *ngIf="user.codeStatus == true" (click)="onClickEditUser(user.id)"></button>
                                    <button pButton pRipple icon="fas fa-trash" class="p-button-rounded p-button-outlined m-1" *ngIf="user.codeStatus == true" (click)="showModalConfirmDelete(user.id)"></button>
                                    <button pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-outlined m-1" *ngIf="user.codeStatus == false" (click)="delete(user.id)"></button>
                                    <button pButton pRipple icon="fas fa-trash-restore" class="p-button-rounded p-button-outlined m-1" *ngIf="user.codeStatus == false" (click)="showModalConfirmReactivate(user.id)"></button>

                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
        <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle"></p-confirmDialog>
        <p-progressSpinner class="spinner" *ngIf="loading"></p-progressSpinner>
        <p-toast [hideTransitionOptions]="'0ms'" position="top-right"></p-toast>