<div class="jumbotron bg-dark m-3">
    <div class="row  border border-info rounded p-3">
        <form [formGroup]="formNewVehicle">
            <p class="title m-2">Edicion Vehiculo</p>
            <div class="row">
                <div class="col-12 col-md-5">
                    <img src="assets/img/imgEmpty.jpg" style="width: 100%; display: block;" />
                </div>
                <div class="col-12 col-md-7 pt-3 pt-md-0">
                    <div class="row">
                        <div class="col-6 form-group">
                            <label>Matricula</label>
                            <input type="text" formControlName="inputNumberPlate" name="number_plate" class="form-control">
                        </div>
                        <div class="col-6 form-group">
                            <label>Bastidor</label>
                            <input type="text" formControlName="inputVin" name="vin" class="form-control">
                        </div>
                        <div class="col-6 form-group">
                            <label>Marca</label>
                            <input type="text" formControlName="inputBrand" name="brand" class="form-control">
                        </div>
                        <div class="col-6 form-group">
                            <label>Modelo</label>
                            <input type="" formControlName="inputModel" name="model" class="form-control">
                        </div>
                        <div class="col-7 form-group">
                            <label>Cliente</label>
                            <app-auto-user [parentFormGroup]="formNewVehicle" [controlName]='SearchClient'></app-auto-user>
                        </div>
                        <div class="col-5 form-group px-0">
                            <div class="col-12">
                                <label>Año</label>
                            </div>
                            <div class="col-12">
                                <p-calendar [style]="{'width':'100%'}" [inputStyle]="{'width':'100%'}" [(ngModel)]="dateValue" dateFormat="dd/mm/yy" formControlName="selectSellDate" [showIcon]="true" inputId="icon"></p-calendar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pt-3">
                <div class="col-12">
                    <div class="row">
                        <div class="col-5 form-group">
                            <label>Motor</label>
                            <input type="text" formControlName="inputEngine" name="engine" class="form-control">
                        </div>
                        <div class="col-3 form-group">
                            <label>Kms</label>
                            <input type="number" formControlName="inputKms" name="kms" class="form-control">
                        </div>
                        <div class="col-4 form-group">
                            <label>Combustible</label>
                            <p-dropdown [style]="{'width':'100%'}" [(ngModel)]="selectFuel" [options]="listFuel" formControlName="inputFuel" optionLabel="name"></p-dropdown>
                        </div>
                        <div class="col-4 form-group">
                            <label>Color</label>
                            <input type="text" formControlName="inputColor" name="color" class="form-control">
                        </div>
                        <div class="col-3 form-group">
                            <label>Chasis</label>
                            <input type="text" formControlName="inputChasis" name="color" class="form-control">
                        </div>
                        <div class="col-5 form-group">
                            <label>Precio</label>
                            <input type="number" formControlName="inputPrice" name="price" class="form-control">
                        </div>
                        <div class="col-12 form-group">
                            <label>Extras</label>
                            <input type="text" formControlName="inputExtra" name="color" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <!-- <app-uploader [parentFormGroup]="formNewVehicle"></app-uploader>-->
                        </div>
                        <div class="col-6 form-group pt-3">
                            <p-checkbox class="p-1" formControlName="chkActiveCarrousel" label="Mostrar en Carrusel" [binary]="true"></p-checkbox>
                            <p-checkbox class="p-1 pl-3" formControlName="chkActiveStatus" label="Registros Activos" [binary]="true"></p-checkbox>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
    <div class="row mt-4">
        <div class="col-12 col-sm-auto">
            <div class="form-row">
                <div class="col">
                    <button pButton icon="fas fa-save" type="button" label="Guardar" (click)="saveNewVehicle()" class="p-button m-1"></button>
                    <button pButton icon="fas fa-broom" type="button" label="Limpiar" (click)="cleanAllControls()" class="p-button-outlined m-1"></button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-row">
                <div class="col-12 text-sm-right">
                    <button pButton icon="fas fa-backward" type="button" label="Cancelar" routerLink="/vehicle" class="p-button-outlined m-1"></button>
                </div>
            </div>
        </div>
    </div>

</div>

<p-toast position="top-right"></p-toast>