<div class="jumbotron bg-dark m-3">
    <div class="row p-2">
        <form name="formClient" [formGroup]="formEditUser">
            <p class="display-4">
                Datos Cliente</p>
            <div class="col-12 p-2 border border-info rounded ">
                <div class="row">
                    <div class="col-6 ">
                        <div class="row">
                            <div class="form-group col-12">
                                <label>Dni</label>
                                <input type="text" name="dni" formControlName="inputDni" class="form-control ">
                            </div>
                            <div class="form-group col-12">
                                <label>Nombre</label>
                                <input type="text" formControlName="inputFirstName" class="form-control ">
                            </div>
                            <div class="form-group col-12">
                                <label>Apellidos</label>
                                <input type="text" formControlName="inputLastName" class="form-control ">
                            </div>
                            <div class="form-group col-12 col-md-8">
                                <label>Direccion</label>
                                <input type="text" formControlName="inputAddress" class="form-control ">
                            </div>
                            <div class="form-group col-12 col-md-4">
                                <label>Ciudad</label>
                                <input type="text" formControlName="inputCity" class="form-control ">
                            </div>
                            <div class="form-group col-8 ">
                                <label>Email</label>
                                <input type="text" formControlName="inputEmail" class="form-control ">
                            </div>
                            <div class="form-group col-4 ">
                                <label>Telefono</label>
                                <input type="text" formControlName="inputPhone" class="form-control ">
                            </div>
                            <div class="form-group col-6 ">
                                <label>Username</label>
                                <input type="text" formControlName="inputUserName" class="form-control ">
                            </div>
                            <div class="form-group col-6">
                                <label>Password</label>
                                <input type="text" formControlName="inputPassWord" class="form-control ">
                            </div>
                        </div>

                    </div>
                    <div class="col-6">
                        <div class="col-12 p-3">
                            <p-table [value]="vehicleList" styleClass="p-datatable-responsive-demo" [columns]="columnsTableResult" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {last}/{totalRecords} Vehiculos" [rowsPerPageOptions]="[10,25,50]">
                                <ng-template pTemplate="header" let-columns>
                                    <tr>
                                        <ng-container *ngFor="let col of columns">
                                            <ng-container [ngSwitch]="col.field">
                                                <th pSortableColumn={{col.field}}>{{col.header}}
                                                    <p-sortIcon field={{col.field}}></p-sortIcon>
                                            </ng-container>
                                        </ng-container>
                                    </tr>
                                </ng-template>
                                <ng-template pTemplate="body" let-vehicle>
                                    <tr>
                                        <td pTooltip="{{vehicle.numberPlate}}">{{vehicle.numberPlate}}</td>
                                        <td pTooltip="{{vehicle.brand}}">{{vehicle.brand}}</td>
                                        <td pTooltip="{{vehicle.model}}">{{vehicle.model}}</td>
                                    </tr>
                                </ng-template>
                            </p-table>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>