<p-sidebar [style]="{width:'15em'}" [(visible)]="visibleSidebar">
    <h2>Filtros</h2>
    <div class="row">
        <div class="col-12 pt-3">
            <h3 class="text-center">Vista</h3>
        </div>
        <div class="col-12 d-flex">
            <i class="fas fa-2x fa-border-all p-3"></i>
            <p-inputSwitch class="p-3" (onChange)="showTableOrCard()"></p-inputSwitch>
            <i class="fas fa-2x fa-grip-lines p-3"></i>
        </div>
    </div>


</p-sidebar>

<div class="jumbotron bg-dark pt-0 m-3">
    <p-button class="pt-3" type="button" (click)="visibleSidebar = true">Filtros</p-button>
    <!--CARD SOLO VISIBLE CON BOTON-->
    <div class="row">
        <div class="col-12" *ngIf="showGallery">
            <div id="cards_landscape_wrap-2">
                <div class="row p-0 m-0 ">
                    <div class="col-12 col-md-4 col-lg-3" *ngFor="let vehicle of vehiclesDtoList">
                        <a (click)="onClickVehicleDetails(vehicle.id)">
                            <div class="card-flyer border rounded">
                                <div class="text-box ">
                                    <div class="image-box">
                                        <img src="{{vehicle.photoHead}}" class="card-img-top" alt="{{vehicle.brand}}" />
                                    </div>
                                    <div class="text-container ">
                                        <div class="row px-3">
                                            <div class="col-12 pt-3">
                                                <h4 class="text-left">{{vehicle.brand}} {{vehicle.model}}</h4>
                                                <hr class="line">
                                                <h5 class="text-left">{{vehicle.engine}}</h5>
                                                <div class="row pt-3">
                                                    <h6 class="col-6">Precio Contado</h6>
                                                    <h6 class="col-6">Precio Financiado</h6>
                                                    <h3 class="col-6 text-center contado">{{vehicle.price+1000 | currency : 'EUR' : 'symbol' : '1.0-0' }}</h3>
                                                    <h3 class="col-6 text-center financiado">{{vehicle.price | currency : 'EUR' : 'symbol' : '1.0-0' }}</h3>
                                                    <div class="col-6 p-2">
                                                        <p class="globo p-0 m-0 rounded"><i class="fas fa-gas-pump pr-2"></i>{{vehicle.fuel}}</p>
                                                    </div>
                                                    <div class="col-6 p-2">
                                                        <p class="globo p-0 m-0 rounded"><i class="far fa-calendar-alt pr-2"></i>{{vehicle.sellDate | date:'yyyy'}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-12">
                                                <div class="row">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12" *ngIf="showTable">

            <!--TABLA SOLO VISIBLE CON BOTON-->
            <div class="row">
                <div class="col-12 p-3">
                    <p-table [value]="vehiclesDtoList" styleClass="p-datatable-responsive-demo" [columns]="columnsTableResult" [paginator]="true" [rows]="5" [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {last}/{totalRecords} Vehiculos" [rowsPerPageOptions]="[5,10,20]">
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <ng-container *ngFor="let col of columns">
                                    <ng-container [ngSwitch]="col.field">
                                        <th class="text-center" pSortableColumn={{col.field}}>{{col.header}}
                                            <p-sortIcon field={{col.field}}></p-sortIcon>
                                    </ng-container>
                                </ng-container>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-vehicle>
                            <tr>
                                <td class="text-center" pTooltip="{{vehicle.brand}}">{{vehicle.brand}}</td>
                                <td class="text-center" pTooltip="{{vehicle.model}}">{{vehicle.model}}</td>
                                <td><img src="{{vehicle.photoHead}}" [alt]="vehicle.model" width="100" class="border rounded" /></td>
                                <td class="text-center" pTooltip="{{vehicle.kms}}">{{vehicle.kms}}</td>
                                <td class="text-center" pTooltip="{{vehicle.fuel}}">{{vehicle.fuel}}</td>
                                <td class="text-center" pTooltip="{{vehicle.sellDate}}">{{vehicle.sellDate}}</td>
                                <td class="text-center" pTooltip="{{vehicle.price}}">{{vehicle.price | currency : 'EUR' : 'symbol' : '1.0-0' }}</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </div>
    </div>

</div>