<p-sidebar [style]="{width:'30em'}" [(visible)]="visibleSidebar">
    <h1 style="font-weight:normal">Left Sidebar</h1>
    <p-button type="button" (click)="visibleSidebar = false" label="Save" styleClass="p-button-success"></p-button>
    <p-button type="button" (click)="visibleSidebar = false" label="Cancel" styleClass="p-button-secondary"></p-button>
</p-sidebar>





<p-button type="button" (click)="visibleSidebar = true" icon="pi pi-arrow-right"></p-button>
<div class="jumbotron bg-dark pt-0 m-3">
    <div id="cards_landscape_wrap-2">
        <div class="row p-0 m-0">
            <div class="col-12 col-md-4 col-lg-3" *ngFor="let vehicle of vehiclesDto">
                <a (click)="onClickVehicleDetails(vehicle.id)">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                <img src="{{vehicle.photoHead}}" class="card-img-top" alt="{{vehicle.brand}}" />
                            </div>
                            <div class="text-container">
                                <div class="row">
                                    <div class="col-12">
                                        <h5 class="text-left">{{vehicle.brand}} {{vehicle.model}}</h5>
                                        <hr class="line">
                                        <h4 class="text-right pt-3">{{vehicle.price | currency : 'EUR' : 'symbol' : '1.0-0' }}</h4>
                                        <p class="hidden">{{vehicle.extra}}</p>

                                    </div>
                                    <div class="col-6 p-2">
                                        <p class="globo p-0 m-0 rounded"><i class="fas fa-gas-pump pr-2"></i>{{vehicle.fuel}}</p>
                                    </div>
                                    <div class="col-6 p-2">
                                        <p class="globo p-0 m-0 rounded"><i class="far fa-calendar-alt pr-2"></i>{{vehicle.sellDate | date:'yyyy'}}</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</div>