@font-face {
    font-family: 'Peugeot Normal v2';
    src: url('assets/font/PeugeotNormal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: Peugeot Normal v2, serif;
    color: white;
}

.title {
    font-size: 25px;
}

@keyframes p-progress-spinner-color {
    100%,
    0% {
        stroke: #d62d20;
    }
    40% {
        stroke: #0057e7;
    }
    66% {
        stroke: #008744;
    }
    80%,
    90% {
        stroke: #ffa700;
    }
}

@media only screen and (max-width: 1900px) {}

@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 800px) {}

@media only screen and (max-width: 400px) {}

.p-dropdown-width,
.p-inputtextarea {
    width: 100% !important;
}

.form-control {
    color: black !important;
}

.border {
    border-width: 3px !important;
}

.p-dropdown,
.p-inputtext,
.p-dropdown-trigger-icon,
.p-dropdown-clear-icon {
    background-color: white !important;
    color: black !important;
}

.p-toast-summary {
    color: black;
}

.p-toast-detail {
    color: black;
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 50%;
}